@using TeachToEach.Domain.Entity;
@model IEnumerable<User>
@{
    ViewData["Title"] = "Teacher";
}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Teach-to-each</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
          rel="stylesheet"
          type="text/css" />
 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />

    <link rel="stylesheet" href="~/css/site.css">

    <link rel="shortcut icon" href="~/images/main-logo.png" type="images" />
</head>

<body>
    <header>
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo-t">
                    <img id="logotip" src="~/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </header>

    <h2>Личный кабинет преподавателя</h2>

            <div id="lk-body" class="container-fluid">
                <div class="row">
                    <div id="side-nav-teach" class="col-2">

                        <div class="sidenav">
                            <a href="#">Contacts</a>
                            <a href="#">Homeworks</a>
                            <a href="#">Roadmap</a>
                            <a href="#">Chat</a>
                        </div>

                    </div>

                    <div id="personal-data-teach" class="col-7">
                        <p>
                            Здесь лежат различные данные о преподавателе.
                        </p>
                    </div>

                    <div id="lk-photo-teach" class="col-3">
                        <img id="logotip" src="~/main-logo.png" alt="Main logo">
                        <p id="personal-photo-teach">Ваше фото</p>
                    </div>

                </div>

            </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>
</html>