@using TeachToEach.Domain.ViewModels.Teacher
@model IEnumerable<RatingViewModel>
@{
    ViewData["Title"] = "GetRatings";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id="lk-s">Личный кабинет преподавателя</h2>

    <div id="lk-body" class="container-fluid">
        <div class="row">
            <div id="side-nav-stud" class="col-2">

                <div class="sidenav">
                    <a asp-controller="Teacher" asp-action="Teacher">Моя страница</a>
                    <a asp-controller="Teacher" asp-action="GetStudents">Ученики</a>
                    <a asp-controller="Teacher" asp-action="GetHWtoTeacher">Домашние задания</a>
                    <a asp-controller="Teacher" asp-action="GetRatings">Посмотреть отзывы</a>
                </div>

            </div>

            <div id="personal-data-stud" class="col-10">
                <h2 id="lk-s">Отзывы</h2>
                @if (Model != null)
                {

                    <div class="card col-md-12">
                        <table class="table table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Рейтиг</th>
                                    <th scope="col">Отзыв</th>
                                    <th scope="col">Предмет</th>
                                    <th scope="col">Имя ученика</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model)
                                {
                                    <tr>
                                        <td>@item.rating_value</td>
                                        <td>@item.review</td>
                                        <td>@item.subject.SubjectName</td>
                                        <td>@item.student</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }                  
        </div>

    </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                    <li><a href="https://journal.tinkoff.ru/find-repetitor/">Как найти хорошего репетитора?</a></li>
                    <li><a href="https://gb.ru/blog/kak-stat-samostostoyatelnym/">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>

<script src="~/js/site.js" asp-append-version="true"></script>

