@using TeachToEach.Domain.ViewModels.Student
@model TeacherFindViewModel
@{
    ViewData["Title"] = "FindTeacher";
}

<body>
    <section id="logo-title">
        <div class="content">
            <div class="row">
                <div class="col-2" id="logo">
                    <img id="logotip" src="~/images/main-logo.png" alt="Main logo">
                </div>
                <div class="col-10">
                    <h1 class="text-centre">Teach-to-each</h1>
                </div>
            </div>
        </div>
    </section>

    <h2 id="lk-s">Личный кабинет ученика</h2>

    <div id="lk-body" class="container-fluid">
        <div class="row">
            <div id="side-nav-stud" class="col-2">

                <div class="sidenav">
                    <a asp-controller="Student" asp-action="Student">Моя страница</a>
                    <a asp-controller="Student" asp-action="GetTeachers">Мои занятия</a>
                    <a asp-controller="Student" asp-action="GetHWtoStudent">Домашние задания</a>
                    <a asp-controller="Student" asp-action="FindTeacher">Найти преподавателя</a>

                </div>

            </div>

            <div id="personal-data-stud" class="col-10">
                <h2 id="lk-s">Найти преподавателя</h2>
                <form method="post" id="form-search-teacher">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Фамилия</label>
                            <input asp-for="last_name" type="text" class="form-control" id="inputLastName" placeholder="Фамилия">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">Имя</label>
                            <input asp-for="first_name" type="text" class="form-control" id="inputFirstName" placeholder="Имя">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLogin">Логин</label>
                            <input asp-for="login" type="text" class="form-control" id="inputLogin" placeholder="Логин">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputSubject">Предмет</label>
                            <select asp-for="subject" id="inputSubject" class="form-control" type="text">
                                <option selected></option>
                                <option>Математика</option>
                                <option>Информатика</option>
                                <option>Литература</option>
                                <option>Обществознание</option>
                                <option>Рисование</option>
                                <option>Музыка</option>
                                <option>Физика</option>
                                <option>Биология</option>
                                <option>История</option>
                                <option>Английский язык</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg float-right" type="submit">Найти</button>
                </form>
            </div>

        </div>

    </div>




    <main>
        <aside>
            <h2>Связанные темы</h2>

            <ul>
                <li><a href="#">Как найти хорошего репетитора?</a></li>
                <li><a href="#">Как стать самостоятельным?</a></li>
            </ul>
        </aside>
    </main>

</body>

<script src="~/js/site.js" asp-append-version="true"></script>

